.FieldInfo {
    color: rgb(251, 174, 44);
    font-family: Bitter, Georgia, "Times New Roman", Times, serif;
    font-size: 1.2em;
}

.CommentBlock {
    background-color: #F9F9F9;
}

.heading{
    font-family: Bitter, Georgia, "Times New Roman", Times, Serif;
    font-weight: bold;
    color: #005E90;
}
.heading:hover {
        color: #0090DB;
}